{% extends "todoList/base.html" %}

<!-- title of the page-->
{% block pageTitle %}
    Add New ToDo
{% endblock pageTitle %}

<!-- active page in nav-bar -->
{% block navbar_class-addToDo %}active{% endblock %}

{% block pageContent %}
<div class="col right-col">
    <div class="row">
        <div class="d-flex justify-content-center">
            <h1>Add a New ToDo!</h1>
        </div>
    </div>
    <div class="flex-row align-items-center border p-4 add-todo">
        <form>
            <div class="mb-3">
              <label for="ToDo-Description" class="form-label">Description</label>
              <input type="text" class="form-control" id="ToDo-Description">
              <div id="descriptionHelp" class="form-text">Write a short description for your ToDo</div>
            </div>
            <div class="mb-3">
              <label for="deadline" class="form-label">Deadline</label>
              <input type="date" class="form-control" id="deadline">
              <div id="date" class="form-text">Choose a deadline</div>
            </div>
            <button type="submit" class="btn btn-primary">Add new Todo!</button>
          </form>
    </div>
</div>
{% endblock pageContent %}